<!DOCTYPE html>
<html>
  <head>
    <title>Not Found </title>
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
	<div class="wrapAll">
  		ALIENS DONT USE BANK IFSC GO BACK TO <br>
  		<a href="/">bankFindo</a>
  	</div>
  </body>
</html>
