<!DOCTYPE html>
<html>
  <head>
    <title>bankifsc.io</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
	<div class="wrapAll">
  		<div class="container">
	       	<header class="container">	
	   			<div class="logo">bankFindo</div>
	   		<div class="tagline">Search Banks By Their <spawn class="blue">	IFSC </spawn>Code </div>
	    	</header>
	   		<section class="main">
	   			<div id="searchBar">
	   				<input type="text" class="searchTerm" placeholder="Search Ifsc example ICIC000XXX">
	   			</div>
	   		</section>
	   		<footer></footer>
	    </div>
  	</div>
  	<script type="text/javascript" src="./javascripts/main.js"></script>
  </body>
</html>
