body{
	background-color: #2F2F2F;
	font-family: ARIEL-BLACK;
}
.wrapAll{
	margin: auto;
	margin-top: 6%;
	width: 800px;
	padding: 50px;
	hight:500px;
	color: rgb(32,178,170);
	border: rgb(255,255,255,.5);
	background-color:rgba(255,255,255,.1);
	border-radius: 5px;
	box-shadow: 0px 0px 4px 1px white;

}
ul{
	list-style: none;
}

spawn{
color: white;
opacity: .8
}

#headingTag{
	color: rgba(255,255,255,.8);
	text-align: center;
	padding-bottom: 20px;
}
button{
	margin-left: 45%;
	opacity: .2;
	font-weight: 300;
	color: black;

}
/* li{
	background-color:rgba(255,255,255,.2);
} */